# by default we exclude everything from the Docker worker...
*

# and then we whitelist only the files we want to include
!/db.just
!/dev.just
!/docker-app-start.sh
!/gmrc.cjs
!/justfile
!/migrations
!/package.json
!/patches
!/pnpm-lock.yaml
!/src
!/static
!/svelte.config.js
!/tsconfig.json
!/vite.config.ts
